.invalid {
    display: none;
    color: red;
}

piano-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
 
.piano-keys-list {
    list-style: none;
    display: flex;
    justify-content: center;
}
 
.piano-keys {
    width: 5%;
    cursor: pointer;
    position: relative;
    height: 10rem;
    border: 1px solid #000;
}
 
.white-key {
    background-color: white;
}

.white-key:hover {
    background-color: lightgray;
}
 
.black-key {
    width: 2rem;
    height: 6rem;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: black;
    z-index: 2;
    margin: 0 -20px 0 -20px;
}

.black-key:hover {
    background-color: darkgray;
}